<div class="main-menu">
	<ul>
		<li><a href="{{ path_for('home') }}">Home</a></li>
		<li><a href="{{ path_for('auth.signup') }}">Sign Up</a></li>
		<li><a href="{{ path_for('auth.signin') }}">Sign In</a></li>
	</ul>
</div>
<div class="user-menu">
	<ul>Ben Lleve
		<li><a href="#">Change Password</a></li>
		<li><a href="#">Sign Out</a></li>
	</ul>
</div>
